# thanks to https://stackoverflow.com/a/987162/811098
# Ignore everything
*

# But not these files...
!.gitignore
!init.el
!config.org
# etc...

# ...even if they are in subdirectories
# !*/

# if the files to be tracked are in subdirectories
# !*/a/b/file1.txt
# !*/a/b/c/*

